{% extends 'indexadmins.html' %}
{% block body %}
</head>

<p align="center" style="color:black;"><font size="10"> STUDENTS ALLOTED TO COMPANIES</font> </p>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="1209" height="109" border="0">
      <tr>
        <td width="158">&nbsp;</td>
        <td width="159">&nbsp;</td>
        <td width="319">&nbsp;</td>
        <td width="319">&nbsp;</td>
        <td width="319">&nbsp;</td>
        <td width="319">&nbsp;</td>
        <td width="319">&nbsp;</td>
        <td width="319">&nbsp;</td>
      </tr>
    </table>
  </div>
</form>
<p align="center">&nbsp;</p>
 {% endblock %}

