{% extends 'indexadmins.html' %}
{% block body %}

<p align="center">&nbsp;</p>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="1209" height="109" border="0">
      <tr>
        <td><div align="center">HOME PAGE</div></td>
      </tr>
      <!-- <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="319"><div align="center"><a href="{% url 'plc:adview' %}">VERIFICATION</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="{% url 'plc:adminedit' %}">REMOVE COMPANY</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="{% url 'plc:viewregstud' %} ">VIEW REGISTERED STUDENTS</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="{% url 'plc:allotted' %}">VIEW ALLOTTED STUDENTS</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="{% url 'plc:adnotification' %}">NOTIFICATION</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="{% url 'plc:login' %}">LOGOUT</a></div></td>
      </tr>
    </table>
  </div>
</form>
<p align="center">&nbsp;</p>
 {% endblock %}
