{% extends 'indexcompany (2).html' %}
{% block body %}
<body>
<!--<div align="center">
  <p>HOME PAGE
</p>
  <p>&nbsp; </p>
  <form id="form1" name="form1" method="post" action="">
    <table width="612" border="0">
    <!--  <tr>
        <td><div align="center"></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="{% url 'plc:cmselected' %}">SELECTED CANDIDATES</a></div></td>
      </tr>
      <tr>
        <td height="29"><div align="center"><a href="{% url 'plc:cmvaccancy' %}">ADD VACCANCY</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="VACCANCY.HTML"></a><a href="{% url 'plc:cedit' %}">EDIT</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="{% url 'plc:cmpnoti' %}">NOTIFICATION</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="{% url 'plc:login' %}">LOGOUT</a></div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>-->
{% endblock %}
