{% extends 'indexcompany (2).html' %}
{% block body %}
<div align="center" style="color:black;"><font size="10"> NOTIFICATIONS</font>
</div>
<div align="center">
  <table width="1267" border="1">
    <tr>
      <td width="225" style="color:black;">DATE</td>
      <td width="1026" style="color:black;">MESSAGE</td>
    </tr>
    <tr>
      {% for dt in data %}
      <td style="color:black;">&nbsp;{{dt.date}}</td>
      <td style="color:black;">{{dt.adnotification}}&nbsp;</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
