{% extends 'indexadmins.html' %}
{% block body %}
<table width="1242" border="1">
  <tr>
    <td style="color:black;">SDNAME</td>
    <td style="color:black;" >QUALIFICATION</td>
    <td style="color:black;">MAILID</td>
    <td style="color:black;">Mob.No</td>
  </tr>
  {% for dt in data %}
  <tr>
    <td style="color:black;">&nbsp;{{dt.sfirstname}}</td>
    <td style="color:black;">&nbsp;{{dt.squalification}}</td>
    <td style="color:black;">&nbsp;{{dt.smail}}</td>
    <td style="color:black;">&nbsp;{{dt.snumber}}</td>
  </tr>
   {% endfor %}
</table>
{% endblock %}